export KAFKA_BROKERS=localhost:9092
export OWNER=bborbe
export REPO_ALLOWLIST=
export SKELETON_PORT=8080
export STAGE=dev
export DOCKER_REGISTRY=docker.io
export IMAGE=bborbe/github-vuln-watcher
export CLUSTER_CONTEXT=test
